{% macro element(form, name, label='', value='',after_label='', after_control='', attributes={}, hint='', label_class='') -%}
  {% set el=form[name] %}

  <div class="form-group{% if form.errors and form.errors[name] %} form-group-error{% endif %}" id="form-group-{{ el.id }}">

    {% if el['type'] == 'FileField' %}
      {% set default_attributes={} %}
    {% else %}
      {% set default_attributes={'class': 'form-control'} %}
    {% endif %}

    {# Extend the default attributes #}
    {% for attr in default_attributes %}
      {% if not attributes[attr] %}
        {% set _dummy = attributes.__setitem__(attr, default_attributes[attr]) %}
      {% endif %}
    {% endfor %}

    {% if not label %}
      {% set label = el.label.text %}
    {% endif %}

    {% set label %}
      <span class="form-label {{ label_class }}">{{- label -}}</span>
    {% endset %}

    {% if hint %}
      {% set label -%}
        {{- label -}}
        <span class="form-hint">{{ hint }}</span>
      {%- endset %}
    {% endif %}
    
    {% if form.errors and form.errors[name] %}
      {% set _dummy = attributes.__setitem__('class', attributes['class'] + ' form-control-error') %}

      {% if form.errors[name]|length > 1 %}
        {% set label -%}
          {{- label -}}
          <div class="error-message">
            <ul class="list list-bullet" id="error-message-{{ el.id }}">
              {% for error in form.errors[name] %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endset %}
      {% else %}
        {% set label -%}
          {{- label -}}
          <span class="error-message" id="error-message-{{ el.id }}">{{ form.errors[name]|join(', ') }}</span>
        {% endset %}
      {% endif %}
    {% endif %}

    {{ el.label(text=label) }}

    {% if after_label %}
      {{ after_label }}
    {% endif %}

    {{ el(**attributes) }}

    {% if after_control %}
      {{ after_control }}
    {% endif %}

  </div>

{%- endmacro %}

{% macro multiple_choice(form, name) %}
  <div class="form-group{% if form.errors[name] %} form-group-error{% endif %}" id="form-group-{{ form[name].id }}">
    <fieldset>
      <legend>
        <span class="form-label">{{ form[name].label.text }}</span>
      </legend>

      {% if form.errors and form.errors[name] %}
        {% if form.errors[name]|length > 1 %}
          <div class="error-message">
            <ul class="list list-bullet" id="error-message-{{ form[name].id }}">
              {% for error in form.errors[name] %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <span class="error-message" id="error-message-{{ form[name].id }}">{{ form.errors[name]|join(', ') }}</span>
        {% endif %}
      {% endif %}

      {% for el in form[name] %}
        <div class="multiple-choice">
          {{ el }}

          <label for="{{el.id}}">
            {{ el.label.text }}
          </label>
        </div>
      {% endfor %}
    </fieldset>
  </div>
{% endmacro %}

{% macro single_choice(form, name) %}
  {% set el=form[name] %}
  <div class="form-group{% if form.errors[name] %} form-group-error{% endif %}" id="form-group-{{ el.id }}">
    <div class="multiple-choice {% if form.errors[name] %} error{% endif %}">
      {{ el }}

      <label for="{{el.id}}">
        {{ el.label.text }}

        {% if form.errors and form.errors[name] %}
          {% if form.errors[name]|length > 1 %}
            <div class="error-message">
              <ul class="list list-bullet" id="error-message-{{ el.id }}">
                {% for error in form.errors[name] %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <span class="error-message" id="error-message-{{ el.id }}">{{ form.errors[name]|join(', ') }}</span>
          {% endif %}
        {% endif %}
      </label>
    </div>
  </div>
{% endmacro %}

{% macro error_summary(form) %}
  {% if form.errors %}
    <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 class="heading-medium error-summary-heading" id="error-summary-heading">The following errors were found:</h2>

      <ul class="error-summary-list">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
          {% for error in field_errors %}
            <li>
              {% if form[field_name].type in ['RadioField', 'SelectMultipleField'] %}
                <a href="#form-group-{{ form[field_name].id }}">{{ error }}</a>
              {% else %}
                <a href="#{{ form[field_name].id }}">{{ error }}</a>
              {% endif %}
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
